numpy
matplotlib
ipykernel
tqdm
opencv-python
wandb
prettytable
efficientnet-pytorch
warmup-scheduler
diffusers
lmdb
vit-pytorch
positional-encodings
pyquaternion
pexpect
einops
packaging
h5py
# pytorch-lightning==2.3.0
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git